body{
  margin: 0;
    padding:0;
 }

 #game-screen{
     display: block;
 }
 #GAMEOVER{
     position:absolute;
     visibility: hidden;
 }
 h1, h3{
     font-family: 'Shadows Into Light', cursive;
     text-align: center;
 }
 .title{
     font-size: 65px;
     margin-bottom: 0px;
 }
 #restartButton{
     border: 2px solid black ;
     border-radius: 10px;
 }
 #restartButton:hover{
     background-color:#3300cc;
 }